.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

*{
  font-family: 'Rubik', sans-serif;


}

.col{
  margin: auto;
}

.hoja{
  margin: auto;
  image-rendering: auto;
  background:linear-gradient(coral , blue);
  color: white;
  width: 400px;
  height:600px;
  border-radius: 5px;
}
.col a{
  color:white;
  text-decoration: none;
  margin: auto;
}
.title h3{
  padding: 5px;
}
