<div class="container">

  <div class="hoja">
     <div class="row">
       <div class="col col-3">
        <div class="title">
          <h3>Login</h3>
        </div>

       </div>
     </div>
     <form class = "form">
      <div class="form-group">
        <div class="row">
          <div class="col col-6">
            <label for="">Username</label><input type="text" placeholder="User" class="form-control" />
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <div class="row">
          <div class="col col-6">
            <label for="">Password</label><input type="password" placeholder="password" class="form-control" />
          </div>
        </div>
      </div>
      <br />
        <div class="row">
          <div class="col col-4">
            <button class="btn btn-success">Enter</button>
          </div>
        </div>
    </form>


  </div>
</div>
