<hr>
<div class="container">
  <div class="row">
    <div class="col">
      <form class="form-row">
        <div class="form-group col-md-2">

          <label for="">Marca</label>
          <input type="text" placeholder="Marca" name="marca"
          #marcaInput>

          <label for="">Modelo</label>
          <input type="text" placeholder="Modelo" name="modelo"
          #modeloInput>

          <label for="">Descripcion</label>
          <input type="text" placeholder="Descripcion" name="decripcion"
          #descripcionInput>

          <label for="">Precio</label>
          <input type="number" placeholder="Precio" name="precio"
          #precioInput>

          <br><br>

          <button type="submit"
          (click)="agregarProducto()">
           Agregar</button>

        </div>
      </form>
    </div>
  </div>
</div>
<hr>
